{% block alphabet %}

    {% with letters='АБВГДЕЖЗИКЛМНОПРСТУФХЦЧШЩЭЮЯ' %}

        <div class="btn-toolbar">
        {% if 'tabel' not in request.path %}
            <div class="btn-group">
            {% for i in letters %}
                <a href="?lastname={{ i }}" class="btn btn-default">{{ i }}</a>
            {% endfor %}
            </div>
        {% endif %}

            <div class="btn-group dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выбрать предприятие <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for i in company_list %}
                        <li><a href="?company={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% endwith %}

    <br>

{% endblock %}