{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		{% block meta %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>
		{{ form.media }}
        <link rel="stylesheet" href={%static "bootstrap/css/bootstrap.min.css" %}>
		<link rel='stylesheet' href="{% static 'worktime/css/style.css' %}">
		<link rel="shortcut icon" href="{% static 'worktime/img/favicon.png' %}" type="image/png">
        {% block static %}
            <script src="{% static 'worktime/js/jquery-3.2.1.min.js' %}"></script>
            <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'worktime/js/jquery.tablesorter.min.js' %}"></script>
        {% endblock %}
	</head>

	<body>

    {% now "Y" as current_year %}
    {% now "m" as current_month %}
    {% now "d" as current_day %}

		<nav class='navbar navbar-static-top'>
			<div class='container-fluid'>
				<div class='navbar-header'>
				    <a class='navbar-brand'>Worktime</a>
				</div>
				{% if user.is_authenticated %}
                    <div class='navbar-right' style='margin-right:10px'>
                        <p class='navbar-text'>{{ user.first_name }} {{ user.last_name }}</p>
                        <a href='{% url 'logout_then_login' %}' class='btn btn-default navbar-btn'>
                            <span class='glyphicon glyphicon-log-out'></span> Выйти
                        </a>
                    </div>
				{% else %}
				    <form action='{% url 'login' %}' method='post' class='navbar-form navbar-right'>
                        {% csrf_token %}
                        <div class='form-group'>
                            <input type='text' class='form-control' placeholder='Пользователь' name='username' autocomplete='off'>
                            <input type='password' class='form-control' placeholder='Пароль' name='password'>
                        </div>
                        <button type='submit' class='btn btn-default'>
                            <span class='glyphicon glyphicon-log-in'></span>  Войти
                        </button>
                    </form>
				{% endif %}
			</div>
		</nav>

		<div class='container-fluid'>
			<div class='row'>
                {% block menu %}
                    {% include 'worktime/menu.html' %}
                {% endblock %}

			    <div class='col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10 content'>
				    {% block content %}
				    {% endblock %}
			    </div>
			</div>
		</div>

	</body>
</html>
