{% extends 'worktime/base.html' %}

{% block title %}Добавить сотрудника{% endblock %}

{% block content %}
    <div class='row'>
	<div class='col-md-offset-4 col-md-4'>
	    <h3>Добавить сотрудника</h3>
	    <form action='' method='post'>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    <span class="text-danger">{{ field.errors }}</span>
                    {{ field }}
                </div>
            {% endfor %}
		    <button type='submit' class='btn btn-primary'>Сохранить</button>
	    </form>
	</div>
    </div>
{% endblock %}