{% extends 'worktime/base.html' %}

{% block title %}Выбор периода и сотрудника{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4">
			<h3>Выбрать сотрудника и период</h3>
			<form action="" method="post">
				{% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        <span class="text-danger">{{ field.errors }}</span>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Показать</button>
			</form>
		</div>
    </div>

    <script>
        $("#id_period").datepicker({
            dateFormat: 'ddmmyy',
            firstDay: 1,
            dayNamesMin: [ 'Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            onSelect: function( selectedDate ) {
                if(!$(this).data().datepicker.first){
                    $(this).data().datepicker.inline = true;
                    $(this).data().datepicker.first = selectedDate;
                }else{
                    if(selectedDate > $(this).data().datepicker.first){
                        $(this).val($(this).data().datepicker.first+"-"+selectedDate);
                    }else{
                        $(this).val(selectedDate+"-"+$(this).data().datepicker.first);
                    }
                    $(this).data().datepicker.inline = false;
                }
            },
            onClose:function(){
                delete $(this).data().datepicker.first;
                $(this).data().datepicker.inline = false;
            }
        });
    </script>

    {% block static %}{% endblock %}

{% endblock %}
