{% extends 'worktime/base.html' %}
{% load staticfiles %}

{% block title %}Выбор периода и сотрудника{% endblock %}

{% block content %}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'tabel' current_year current_month current_day %}"> Табель за сутки</a></li>
        <li role="presentation" class="active"><a href="{% url 'tabel_period_form' %}">Табель за период</a></li>
    </ul>

	<div class="row">
		<div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4">
			<h3>Выбрать сотрудника и период</h3>
			<form action="" method="post">
				{% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if not field.is_hidden %}{{ field.label_tag }}{% endif %}
                        <span class="text-danger">{{ field.errors }}</span>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Показать</button>
			</form>
		</div>
    </div>

    {% block static %}
        <script src="{% static 'worktime/js/autocomplete.js' %}"></script>
        <script src="{% static 'worktime/js/datepicker.js' %}"></script>
    {% endblock %}

{% endblock %}
