{% block alphabet %}

    {% with letters='АБВГДЕЖЗИКЛМНОПРСТУФХЦЧШЩЭЮЯ' %}

        <div class="btn-toolbar">
        {% if 'employee' in request.path %}
            <div class="btn-group">
            {% for i in letters %}
                <a href="?lastname={{ i }}" class="btn btn-default">{{ i }}</a>
            {% endfor %}
            </div>
        {% endif %}

            <div class="btn-group dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выбрать предприятие <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for i in company_list %}
                        <li><a href="?company={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        {% if 'tabel' in request.path %}

            {% if request.GET.company %}

                <div class="btn-group pull-right">
                    <a class="btn btn-primary" href='{% url 'tabel' previous_day.year previous_day.month previous_day.day %}?company={{ request.GET.company }}'>
                        <span class="glyphicon glyphicon-chevron-left"></span> Предыдущий день
                    </a>
                    <a class="btn btn-info" href='{% url 'export_xlsx' day.year day.month day.day %}'>
                        <span class='glyphicon glyphicon-download'></span>  Табель за {{ day }}
                    </a>
                    <a class="btn btn-primary" href='{% url 'tabel' next_day.year next_day.month next_day.day %}?company={{ request.GET.company }}'>
                        Следующий день <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            {% else %}

                <div class="btn-group pull-right">
                    <a class="btn btn-primary" href='{% url 'tabel' previous_day.year previous_day.month previous_day.day %}'>
                        <span class="glyphicon glyphicon-chevron-left"></span> Предыдущий день
                    </a>
                    <a class="btn btn-info" href='{% url 'export_xlsx' day.year day.month day.day %}'>
                        <span class='glyphicon glyphicon-download'></span>  Табель за {{ day }}
                    </a>
                    <a class="btn btn-primary" href='{% url 'tabel' next_day.year next_day.month next_day.day %}'>
                        Следующий день <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            {% endif %}

        {% endif %}

        </div>

    {% endwith %}

    <br>

{% endblock %}